---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Calendar">
  <div class="container">
    <h3 class="m-4">Cullompton Tae-Kwon-Do Calendar</h3>
    <hr />
    <p class="m-4">
      This calendar shows important dates for Cullompton Tae Kwon-Do. For more
      details on any event, please contact us directly.
    </p>
    <p class="m-4">Make take a moment to load!</p>
    <iframe
      src="https://calendar.google.com/calendar/embed?height=800&wkst=2&ctz=Europe%2FLondon&showTitle=0&showCalendars=0&hl=en_GB&mode=AGENDA&showPrint=0&title=Cullompton%20Tae%20Kwon-Do&src=ZWFiNzY5OTA4YjQ0Njk5ZDIyZGE4ZWNlNzFmODI1YTljMWZiNjViYjY0MTEyYzhjNmY2ZmViMzE5Y2ZlMDMyYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237cb342"
      style="border-width:0"
      width="800"
      height="800"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</DefaultLayout>
