---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Calendar">
  <div class="container">
    <h3 class="m-4">Cullompton Taekwondo Calendar</h3>
    <hr />
    <p class="m-4">
      This calendar shows important dates for Cullompton Taekwondo. For more
      details on any event, please contact us directly.
    </p>
    <p class="m-4">Make take a moment to load!</p>
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FLondon&showPrint=0&mode=AGENDA&hl=en_GB&showCalendars=0&showTabs=0&showTitle=0&src=Y3VsbG9tcHRvbnRhZWt3b25kb0BnbWFpbC5jb20&color=%23039be5"
      style="border:solid 1px #777"
      width="800"
      height="800"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</DefaultLayout>
