---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Contact Us">
  <div class="container">
    <h2 class="m-4">Kit</h2>
    <hr />
    <p class="m-4">
      Contact Us Telephone 07871 520 903 Address Culm Valley Sports Centre
      Cullompton EX15 1LL Mail ShaneKnight1@Hotmail.com
    </p>
  </div>
</DefaultLayout>
