---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Kit">
  <div class="container">
    <h2 class="m-4">Kit</h2>
    <hr />
    <p class="m-4">
      This sheet below shows the kit that is available for purchase. If you
      would like to purchase any of the items, please contact us directly. The
      prices are indicative and may vary.
    </p>
    <iframe
      width="100%"
      height="900"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTzKADxXeECxfdeYpUP92rywR8490eplZIwjvBJ29Gb7XVoaS0TO_1FggKBVcsnIxVWtO0JFbNrEBL1/pubhtml?gid=0&single=true&widget=false&headers=false"
    ></iframe>
  </div>
</DefaultLayout>
