---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Privacy">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2"></div>
    <h2 class="m-4">Privacy Policy</h2>
    <hr />
    <div class="m-4">
      <p>
        Cullompton Taekwondo values your privacy. This website does not collect,
        store, or share any personal data from visitors.
      </p>
      <p>
        We do not use cookies, tracking technologies, or analytics tools. You
        are free to browse our website without providing any personal
        information.
      </p>
      <p>
        If you choose to contact us through email or other direct communication
        methods, any information you provide will be used solely to respond to
        your inquiry and will not be shared with third parties.
      </p>
      <p>
        If you have any questions about this privacy policy, please contact us
        directly.
      </p>
      <p>Last updated: 07.07.2025</p>
    </div>
  </div>
</DefaultLayout>
