---
import { Media, Video } from 'accessible-astro-components';

interface Props {
  title: string;
  description?: string;
  media?: {
    src: string;
    alt: string;
    class?: string;
  };
}
const { title = '', description = '', media = null } = Astro.props;
---

<section class="hero mt-12 mb-48 relative">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="hero-title text-center text-6xl md:text-left lg:text-8xl">
          <slot>{title}</slot>
        </h1>
        <h4 class="text-center text-2xl md:text-left lg:text-3xl">
          {description}
        </h4>
      </div>
      {media && <Media {...media} />}
    </div>
  </div>

  <style lang="scss">
    .hero-title {
      color: var(--primary-100);
    }
  </style>
</section>
